.primary{
    --color-principal: #4BA8FF;
    --color-principal-claro: #CAE6FF;
    --color-principal-glow: #7ABFFF;
    --color-text: #051C32;
    --color-text_alt: #F0F8FF;
}

.secondary{
    --color-principal: #00BB9A;
    --color-principal-claro: #75E8D3;
    --color-principal-glow: #20CDAE;
    --color-text: #051C32;
    --color-text_alt: #F0F8FF;
}

.monocrome{
    --color-principal: #051C32;
    --color-principal-claro: #80A3C2;
    --color-principal-glow: rgba(25, 53, 79, 0.40);
    --color-text: #051C32;
    --color-text_alt: #F0F8FF;
}

button{
    display: inline-flex;
    padding: var(--XXXS, 16px);
    align-items: center;
    gap: var(--US, 12px);
    border-radius: var(--XUS, 8px);
    background: var(--color-principal, #4BA8FF);
    border: 2px solid var(--color-principal, #4BA8FF);
    color: var(--color-text_alt, #F0F8FF);
    font-size: var(--XXS, 24px);
    cursor: pointer;
    width: auto;
}

button:hover{
    border-radius: var(--XUS, 8px);
    background: var(--color-principal, #4BA8FF);

    /* Glow/Primary */
    box-shadow: 0px 4px var(--XXXS, 16px) 0px var(--color-principal-glow, #7ABFFF);
}

button:active{
    border-radius: var(--XUS, 8px);
    border: 2px solid var(--color-principal, #4BA8FF);
    background: var(--color-principal-claro, #CAE6FF);
    color: var(--color-text, #051C32);
}

button:succes{
    border-radius: var(--XUS, 8px);
    background: var(--Color-Estados-Fuertes-xito, #A2D219);
}
